body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#mainDisplay {
  width: 100%;
  position: relative;
  z-index: 0;

  #list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    .card {
      width: 25%;
      margin: 20px;
      padding: 10px;
      border: 1px solid #aaa;

      .image {
        width: 100%;
      }

      .nameAndLikes {
        display: flex;
        justify-content: space-between;

        .heart {
          cursor: pointer;
        }

        .redheart {
          color: plum;
        }
      }

      .counter {
        display: block;
        text-align: end;
      }

      .comments {
        width: 100%;
        padding: 5px;
        margin-top: 10px;
      }
    }
  }
}
#mainDisplay  .popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


/* The actual popup */
// #mainDisplay .popup {
//   visibility: hidden;
//   width: 960px;
//   background-color: #555;
//   color: #fff;
//   text-align: center;
//   border-radius: 6px;
//   padding: 8px 0;
//   position: absolute;
//   z-index: 1;
//   bottom: 125%;
//   left: 50%;
//   margin-left: -80px;
// }

/* Toggle this class - hide and show the popup */
// #mainDisplay  .show {
//   visibility: visible;
//   -webkit-animation: fadeIn 1s;
//   animation: fadeIn 1s;
// }

.popup{
  display: none;
}
.display-pop{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}